/**

 *
 *
 * Styles for the loading indicator element. In this example
 * the indicator completely covers the visualization area.
 *
 * Please see demos/hints.html for the usage example.
 */
.visualization-loading {
  position: absolute;
  pointer-events: none;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -moz-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -ms-radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.5) 100%);
  background-image: radial-gradient(50% 50%, circle farthest-corner, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.5) 100%);
  transition: opacity 0.35s linear;
}

.dark .visualization-loading {
  background-image: -webkit-radial-gradient(50% 50%, circle farthest-corner, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 1) 100%);
  background-image: -moz-radial-gradient(50% 50%, circle farthest-corner, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 1) 100%);
  background-image: -ms-radial-gradient(50% 50%, circle farthest-corner, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 1) 100%);
  background-image: radial-gradient(50% 50%, circle farthest-corner, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.visualization-loading.fadeout {
  opacity: 0;
}
