.header-status-bar {
    height: 50px;
    padding: 6px 0 0 0;
    /* width: 1248px; */
    width: 100%;
    min-width: 1248px;
    background-color: #4051b5;
    z-index: 1000;
}
/* .container-css{
    position: absolute;
    width: 100%;
    top: 12%;
} */

.css-for-total-project {
    float: left;
    position: relative;
    left: 67px;
    top: 109px;
    font-size: 24px;
}

@media screen and (max-width: 1388px), (max-width: 1448px), (max-width: 1500px), (max-width: 1511px){
    .css-for-total-project {
        font-size: 16px;
    }
}

@media screen and (min-width: 1536px) {
    .css-for-total-project {
        font-size: 18px;
    }
}
.disabled-link {
    pointer-events: none;
    color: black;
  }

#container {
    text-align: center;
    padding: 16px;
    position: absolute;
    top: 113px;
    width: 86%;
    min-width: 500px;
    margin-left: 63px;
}

.table-for-POI-css {
    position: relative;
    top: 373px;
    min-width: 1160px;
    width: 99%;
}

.table-count-css{
    border-collapse: collapse;
    border-spacing: 0;
    width: 244px;
    position: relative;
    border: 1px solid rgb(0, 0, 0);
}

.report-name-css {
    height: 50px;
    padding: 6px 10px 0 10px;
    width: auto;
    background-color: #fff;
    z-index: 1000;
}

.graph-style-cve-not-available-css {
    position: relative;
    width: 50%;
    padding: 10px;
    margin: auto;
    width: 70%;
    height: 130px;
}

.span-report-css {
    font-size: 30px;
    position: relative;
    left: 5%;
    top: 30%;
}


.score-color-css {
    border-radius: 10px;
    width: 65px;
    display: block;
    text-align: center;
}



.border-div {
    border: 1px outset black;
    background-color: #fff;    
    text-align: center;
    position: absolute;
    min-width: 1168px;
    width: 100%;
}

.bottom-div {
    height: 20px;
}

.hadder-css {
    color: #fff;
    font-size: 30px;
    position: relative;
    left: 17px;
}

.body-css {
    margin: 0px;
}

a {
    text-decoration:none;
 }

.pie-chart-css {
    position: relative;
    width: 455px;
    float: right;
    bottom: 186px;
    right: 179px;
    left: 1px;
    top: 42px;
}

.pie-chart-poi-css {
    position: relative;
    width: 455px;
    float: left;
    bottom: 186px;
    top: 42px;
    left: 410px;
}

@media screen and (max-width: 1366px) {
    .pie-chart-poi-css {
        left: 82px;
    }
}

@media screen and (max-width: 1376px) {
    .pie-chart-poi-css {
        left: 109px;
    }
}

@media screen and (min-width: 1380px) {
    .pie-chart-poi-css {
        left: 115px;
    }
}

.table-div {
    overflow-x: auto;
}

.css-div-for-table-language-project {
    width: 15%;
    position: relative;
    left: 66px;
}

.border-div-for-project-of-intrest {
    border: 1px outset black;
    background-color: #fff;
    text-align: center;
    position: absolute;
    min-width: 1157px;
    width: 97%;
    height: 332px;
}

.table-css {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}

.graph-style {
    position: relative;
    width: 50%;
    padding: 10px;
    margin: auto;
    width: 70%;
    height: 427px;
}

.btn-group {
    background-color: #fff;
    border: 1px solid black;
    color: white;
    padding: 10px 24px;
    width: 14%;
    position: absolute;
    top: 11.4%;
    left: 72%;
}
.CSS-button {
    height: 39px;
    width: 137px;
    margin: 2%;
}
  
  /* .btn-group button:not(:last-child) {
    border-bottom: none; 
  } */
  
  /* Add a background color on hover */
  /* .btn-group button:hover {
    background-color: #3e8e41;
  } */