.visualization-loading > div {
  font-size: 36px;
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -40px;
  text-align: center;
  line-height: 1.05;
}
.barchart {
  border-collapse: collapse;
  /* padding: 0px 0px 0px 20px; */
  font-size: 50px;
  font-family: Arial, Helvetica;
  /* margin: 0px 0px 0px 0px; */
  /* border: 2px solid #ccc; */
  float: left;
  height: 500px;
  width: 1000px;
  position: relative;
  white-space: nowrap;
  margin-left: 200px;
  z-index: -1;
}

.piechart {
  border-collapse: collapse;
  /* padding: 0px 0px 0px 20px; */
  font-size: 50px;
  font-family: Arial, Helvetica;
  /* padding-top: 50px; */
  float: left;
  align-content: center;
  height: 500px;
  width: 1000px;
  position: relative;
  white-space: nowrap;
  margin-left: 200px;
  z-index: -1;
}

.cve_stats {
  border-collapse: collapse;
  padding: 0px 0px 0px 0px;
  font-size: 15px;
  font-family: Arial, Helvetica;
  margin: 50px 50px 50px 70px;
  border: 2px solid #ccc;
  float: left;
  height: 180px;
  white-space: nowrap;
}

.cve_table {
  font-family: Arial, Helvetica, sans-serif;

  border-collapse: collapse;

  width: 100%;

  padding-top: 20px;

  z-index: -1;
}

.env_table {
  font-family: Arial, Helvetica, sans-serif;

  border-collapse: collapse;

  width: 100%;

  padding-top: 20px;

  padding-bottom: 20px;

  /* z-index: -1 */
  position: relative;
  /* left: -80px;  */
  right: 1100px;
  bottom: -1890px;
  z-index: -1;
}

.cve_table td,
.cve_table th {
  border: 1px solid #ddd;

  padding: 8px;
}

.cve_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.cve_table tr:hover {
  background-color: #ddd;
}

.cve_table th {
  padding-top: 12px;

  padding-bottom: 12px;

  text-align: left;

  background-color: #526cfe;

  color: white;
}

.env_table td,
.env_table th {
  border: 1px solid #ddd;

  padding: 8px;
}

.env_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.env_table tr:hover {
  background-color: #ddd;
}

.env_table th {
  padding-top: 12px;

  padding-bottom: 20px;

  text-align: left;

  background-color: #526cfe;

  color: white;
}

.home_btn {
  height: 30px;
  width: 50px;
  float: right;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 5px;
  margin-right: 5px;
  /* position:absolute; */
  top: 0;
  right: 0;
  visibility: hidden;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif !important;
}

.upper {
  text-transform: capitalize;
}

#progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
}

#details {
  background-color: rgba(255, 255, 255, 0.95);
  transition: right 0.5s ease, left 0.5s ease, opacity 0.5s;
  opacity: 0;
}

#details.showing {
  opacity: 1;
}

#details .forks {
  position: relative;
  left: 5px;
}

#details .watchers {
  position: relative;
  top: -2px;
}

#details .stats span {
  padding-right: 2em;
}

#details .stats span:last-of-type {
  padding-right: 0;
}

.newer,
.older {
  font-weight: normal;
  padding: 2px 5px;
  border-radius: 2px;
}

.newer {
  background-color: rgba(7, 199, 247, 0.541);
}

.older {
  background-color: hsla(339, 80%, 40%, 1);
  color: white;
}

.examples {
  margin-top: 10px;
  color: #aaa;
}

.logout {
  width: 100%;
  float: right;
  padding-bottom: 4em;
  padding-right: 1em;
}

.logout button {
  float: right;
}

button:focus {
  outline: none;
}

@media (min-width: 1024px) {
  input[name="query"] {
    width: 16em;
  }

  select[name="results"] {
    width: 8em;
    padding-left: 0;
    padding-right: 0;
  }

  select[name="sort"] {
    width: 8em;
    padding-left: 0;
    padding-right: 0;
  }

  button.btn {
    width: 8em;
  }

  .mt-2em {
    margin-top: 2em;
  }

  .ml-1em {
    margin-left: 1em;
  }

  .pt-3-2em {
    padding-top: 3.2em;
  }

  #details {
    position: absolute;
    top: 10px;
    bottom: 10px;
    width: 440px;
    right: -440px;
    padding-top: 25px;
    padding-left: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

  #details.showing {
    right: 10px;
    opacity: 1;
  }

  #details {
    text-align: center;
  }

  #details .avatar {
    width: 256px;
    height: 256px;
    border-radius: 4px;
  }

  #details .description {
    margin: 30px auto;
    width: 60%;
  }

  #details .cvecount {
    margin: 30px auto;
    width: 60%;
  }

  #details .close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 50px;
  }
}

@media (max-width: 1023px) {
  #side {
    position: relative;
  }

  #details {
    position: absolute;
    top: 70%;
    min-height: 100%;
    left: 100%;
    right: -100%;
    opacity: 0;
    padding: 10px;
  }

  #details.showing {
    right: 0;
    left: 0;
    opacity: 1;
  }

  #details {
    text-align: left;
  }

  #details .avatar {
    position: absolute;
    left: 2%;
    width: 20%;
    border-radius: 4px;
  }

  #details .info {
    margin-left: 24%;
  }

  #details h2 {
    margin-top: 0;
  }

  #details .close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 50px;
  }

  #details .description {
    margin: 20px auto;
  }
}
